<!DOCTYPE html>
<html lang="en">
{% include "components/head.njk" %}
<body class="bg-background-light dark:bg-background-dark text-[#181611] dark:text-white transition-colors duration-300">
    <div class="relative flex h-auto min-h-screen w-full flex-col group/design-root overflow-x-hidden">
        <div class="layout-container flex h-full grow flex-col">
            {% include "components/navbar.njk" %}
            <main class="flex flex-col flex-1">
                {{ content | safe }}
            </main>
            {% include "components/footer.njk" %}
        </div>
    </div>

    {% if page.fileSlug != 'start_application' and page.fileSlug != 'admission' %}
    {% include "components/admission-popup.njk" %}
    {% endif %}
</body>
</html>
